:root {
    --backgroundcolor: #4b0082;
    --back: #6b09b1;
    --borderocean: #10c4d1;
    --ЕБАТЬЦВЕТОХУЕННЫЙНАЗАДНИКЯНЕЗНАЮЧТОЕМУНЕНРАВИТСЯ: #1b7783;

    --testbackgroundcolor: #284A7E;
    --testbackcolor: #9d77f5;
}

body {
    background-color: var(--testbackgroundcolor);
}

.maindiv {
    width: auto;
    height: auto;
    padding: 3%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.firstcontainer {
    border: 2px solid var(--borderocean);
    width: 20%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.button {
    background-color: var(--back);
    border-color: var(--borderocean);
    color:rgb(230, 174, 102)
}

.container {
    padding: 15px;
    width: auto;
    height: auto;
    border: 2px solid var(--borderocean);
}

.table {
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 5px;
    width: auto;
    height: auto;
    box-sizing: border-box;
}

.table td {
	border: 1px solid var(--borderocean);
    text-align: center;
    background-color: var(--back);
    min-height: 1px;
    min-width: 1px;
}
