:root {
    --backgroundcolor: #4b0082;
    --back: #6b09b1;
    --borderocean: #10c4d1;
    --ЕБАТЬЦВЕТОХУЕННЫЙНАЗАДНИКЯНЕЗНАЮЧТОЕМУНЕНРАВИТСЯ: #1b7783;

    --testbackgroundcolor: #284A7E;
    --testbackcolor: #9d77f5;
}

body {
    background-color: var(--testbackgroundcolor);
}

.maindiv {
    width: auto;
    height: auto;
    padding: 3%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    justify-content: space-around;
}

.timerule {
    border: 2px solid var(--borderocean);
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 7px;
    margin: 5% auto;
}

.orange {
    padding: 2%;
    padding-left: 15%;
    padding-right: 15%;
    width: auto;
    height: auto;
    background-color: black;
    border-radius: 15px;
    border: 1px solid #ffa200;
    text-align: center;
    margin: 5%;
}

.timer {
    width: auto;
    height: auto;
    font-size: 2vw;
    color: #ffa200;
    font-family: 'Red Hat Mono', monospace;
}

.firstcontainer {
    border: 2px solid var(--borderocean);
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    border-radius: 7px;
    margin: 5% auto;
}

.button {
    width: auto;
    height: auto;
    background-color: var(--back);
    border-color: var(--borderocean);
    color:rgb(230, 174, 102);
    border-radius: 7px;
    text-align: center;
    font-size: 1vw;
}

.container {
    padding: 15px;
    width: auto;
    height: auto;
    border: 2px solid var(--borderocean);
    border-radius: 7px;
    box-shadow: 0px 0px 50px rgb(63, 42, 255), inset 0px 0px 50px rgb(63, 42, 255);
}

.table {
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 5px;
    width: auto;
    height: auto;
    box-sizing: border-box;
}

.table td {
	border: 1px solid var(--borderocean);
    text-align: center;
    background-color: var(--back);
    min-height: 1px;
    min-width: 1px;
    box-shadow: inset 0px 0px 5px;
    font-size: 3vw;
}
