body {
    background-color: #4b0082;
}

.maindiv {
    width: 90%;
    height: 90%;
    border: 2px solid #6b09b1;
    padding: 3%;
    margin: 0 auto;
}
.container {
    padding: 3%;
    width: 75%;
    height: 75%;
    max-height: 900px;
    border: 2px solid #10c4d1;
    margin: 0 auto;
}

.table {
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 5px;
    width: 90%;
    height: 90%;
}

.table td {
	border: 1px solid #10c4d1;
    text-align: center;
    background-color: rgb(112, 0, 139);
}