body {
    align-items: center;
    background-color: antiquewhite;
}

.mainwindow {
    margin: 0 auto;
    width: 1600px;
    height: 100%;
    border: 1px solid black;
    background-color: #284A7E;
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tablecontainer {
    width: 700px;
    height: 700px;
    border: 5px solid #10c4d1;
    border-radius: 10px;
}

.menucont {
    width: 700px;
    height: 710px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.timerandcount {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 5px solid #10c4d1;
    border-radius: 10px;
    padding: 15px;
}

.timerbox {
    width: 70%;
    height: 120px;
    background-color: black;
    border: 1px solid orange;
    border-radius: 4px;
    margin: 10px;
    color: azure;
    text-align: center;
}

.count {
    width: 30%;
    height: 120px;
    border: 1px solid orange;
    background-color: black;
    border-radius: 4px;
    margin: 10px;
    color: azure;
    text-align: center;
}

.mainmenu {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.firstcolumn {
    width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 5px solid #10c4d1;
    border-radius: 10px;
    padding: 10px;
}

.filcolomn {
    border: 5px solid #10c4d1;
    border-radius: 10px;
    width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.frcolumn {
    width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flexcolumn {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.topplayer {
    width: 100%;
    height: 65%;
    background-color: blue;
    border: 5px solid #10c4d1;
    border-radius: 10px;
}

.colorswitch {
    width: 100%;
    height: 25%;
    border: 1px solid aqua;
    background-color: aqua;
    border-radius: 10px;
}

.text {
    width: 100%;
    text-align: center;
    background-color: blueviolet;
    font-size: 25px;
    border-bottom: 5px solid #10c4d1;
    border-radius: 5px 5px 0 0;
    margin: 0 auto;
}

.buttonsdif {
    padding: 20px;
    margin: 0 auto;
    width: 70%;
    height: auto;
    border: 3px solid #10c4d1;
    border-radius: 10px;
}
