.table {
    border-collapse: collapse;
    border: 1px solid black;
    min-height: 600px;
    min-width: 600px;
    max-width: 800px;
    max-height: 800px;
}

.table td {
    min-height: 5px;
    min-width: 5px;
    max-height: 25px;
    max-width: 25px;
    border: 1px solid black;
}

@media all and (max-width: 800px) {
    .table {
        border: 10px solid pink;
    }
}