.container {
    width: 100%;
    height: 90%;
    border: 1px solid pink;
}

.tableborder {
    padding: 15px;
    margin: 10px auto;
    width: 900px;
    height: 900px;
    border: 1px solid black;
}

.table {
    border: 1px solid greenyellow;
    margin: 0 auto;
}

.rep {
    text-align: center;
}

.barz {
    width: 25px;
    height: 25px;
}

.barz-2 {
    width: 15px;
    height: 15px;
}

.barz-3 {
    width: 5px;
    height: 5px;
}

@media (max-width: 1150px) {
    .tableborder {
        border: 1px solid rgb(87, 36, 168);
        width: 600px;
        height: 600px;
    }
}

@media (max-width: 700px) {
    .tableborder {
        border: 1px solid rgb(87, 36, 168);
        width: 400px;
        height: 400px;
    }
}